node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
# /rust_codes/target
/src/lib/rust_codes/target
/static/rust_codes/target

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
